<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><meta property="og:title" content="" />
<meta property="og:description" content="Columns Columns help organize shorter pieces of content horizontally for readability.
{{&lt; columns &gt;}} &lt;!-- begin columns block --&gt; # Left Content Lorem markdownum insigne... &lt;---&gt; &lt;!-- magic sparator, between columns --&gt; # Mid Content Lorem markdownum insigne... &lt;---&gt; &lt;!-- magic sparator, between columns --&gt; # Right Content Lorem markdownum insigne... {{&lt; /columns &gt;}} Example Left Content Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat stringit, frustra Saturnius uteroque inter!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://example.com/docs/shortcodes/columns/" />

<title>Columns | Hugo Book</title>
<link rel="icon" href="/favicon.png" type="image/x-icon">


<link rel="stylesheet" href="/book.min.92b28337361d2bcca5e0ffaff5092dda7140e89d9a7a7a4dcc6055fd7d702ace.css" integrity="sha256-krKDNzYdK8yl4P&#43;v9Qkt2nFA6J2aenpNzGBV/X1wKs4=">


<script defer src="/search.min.47de6bd772349bf7a650f4f59199584a6dad6c7a1161c2526490b97c302c4f50.js" integrity="sha256-R95r13I0m/emUPT1kZlYSm2tbHoRYcJSZJC5fDAsT1A="></script>

<!--
Made with Book Theme
https://github.com/alex-shpak/hugo-book
-->

  
</head>

<body>
  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="flex container">

    <aside class="book-menu fixed">
      <nav>
<h2 class="book-brand">
  <a href="https://example.com/"><span>Hugo Book</span>
  </a>
</h2>


<div class="book-search">
  <input type="text" placeholder="Search" id="book-search-input" maxlength="64" />
  <div class="book-search-spinner spinner hidden"></div>
  <ul id="book-search-results"></ul>
</div>





    

  
  





 
  
    




  
  <ul>
    
      
        

  <li  class="book-section-flat" >
    
      

  <a href="/docs/example/" >
      Example Site
  </a>


    

    




  
  <ul>
    
      
        

  <li >
    
      

  <a href="/docs/example/table-of-contents/" >
      Table of Contents
  </a>


    

    




  
  <ul>
    
      
        <li>

  <a href="/docs/example/table-of-contents/with-toc/" >
      With ToC
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/example/table-of-contents/without-toc/" >
      Without ToC
  </a>

</li>
      
    
  </ul>
  



  </li>


      
    
      
        

  <li >
    
      

  <a href="/docs/example/2nd/" >
      2nd
  </a>


    

    






  </li>


      
    
  </ul>
  



  </li>


      
    
      
        

  <li  class="book-section-flat" >
    
      <span>Shortcodes</span>
    

    




  
  <ul>
    
      
        <li>

  <a href="/docs/shortcodes/buttons/" >
      Buttons
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/shortcodes/columns/"  class="active">
      Columns
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/shortcodes/expand/" >
      Expand
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/shortcodes/hints/" >
      Hints
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/shortcodes/katex/" >
      Katex
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/shortcodes/mermaid/" >
      Mermaid
  </a>

</li>
      
    
      
        <li>

  <a href="/docs/shortcodes/tabs/" >
      Tabs
  </a>

</li>
      
    
  </ul>
  



  </li>


      
    
  </ul>
  



  











</nav>


<script>
(function() {
  var menu = document.querySelector("aside.book-menu nav");
  addEventListener("beforeunload", function(event) {
    localStorage.setItem("menu.scrollTop", menu.scrollTop);
  });
  menu.scrollTop = localStorage.getItem("menu.scrollTop");
})();
</script>

    </aside>

    <div class="book-page">
      <header class="flex align-center justify-between book-header">
  <label for="menu-control">
    <img src="/svg/menu.svg" alt="Menu" />
  </label>
  <strong>Columns</strong>
</header>

      
<article class="markdown">

<h1 id="columns">Columns</h1>

<p>Columns help organize shorter pieces of content horizontally for readability.</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">{{&lt; <span style="color:#f92672">columns</span> &gt;}} <span style="color:#75715e">&lt;!-- begin columns block --&gt;</span>
# Left Content
Lorem markdownum insigne...

&lt;<span style="color:#f92672">---</span>&gt; <span style="color:#75715e">&lt;!-- magic sparator, between columns --&gt;</span>

# Mid Content
Lorem markdownum insigne...

&lt;<span style="color:#f92672">---</span>&gt; <span style="color:#75715e">&lt;!-- magic sparator, between columns --&gt;</span>

# Right Content
Lorem markdownum insigne...
{{&lt; /<span style="color:#f92672">columns</span> &gt;}}</code></pre></div>
<h2 id="example">Example</h2>

<div class="book-columns flex flex-wrap">
  
  <div class="flex-even markdown-inner">
    <h2 id="left-content">Left Content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.
  </div>
  
  <div class="flex-even markdown-inner">
    <h2 id="mid-content">Mid Content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter!
  </div>
  
  <div class="flex-even markdown-inner">
    <h2 id="right-content">Right Content</h2>

<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.
  </div>
  
</div>

</article>

      
<div class="book-footer justify-end">
  
  
  <div>
    
    <a class="flex align-center" href="https://github.com/alex-shpak/hugo-book/edit/master/exampleSite/content/docs/shortcodes/columns.md" target="_blank" rel="noopener">
      <img src="/svg/edit.svg" alt="Edit" />
      <span>Edit this page</span>
    </a>
    
  </div>
  
</div>


      
    </div>

    
  

  <aside class="book-toc levels-3 fixed">
    <nav id="TableOfContents">
<ul>
<li><a href="#columns">Columns</a>
<ul>
<li><a href="#example">Example</a></li>
</ul></li>
</ul>
</nav>
  </aside>



  </main>

  
</body>

</html>
